.odd {background : #e5e5e5;}

tr.header {background : gray;}

/*div#footer {text-align:center;}*/
div.tab_bar {background : #c5c5c5;}

a.hid_button 
{
text-decoration : none;
color : black;
display : block;
}

td.trans{width : 300;}

.sel_btn
{
	cursor : pointer;
	/*
	position : absolute;
	height : 120px;
	width : 120px;
	border-bottom: 1px solid ; 
	border-left: 1px solid ; 
	border-right: 1px solid ; 
	border-top: 1px solid ;
	*/
}
